.wrapper {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;

    /*background-color: lightgreen;*/
  }

.webpage_background {
    opacity: 0.4;
    background-position: bottom;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*Phone portrait*/  
@media (max-width: 30rem) {
    .webpage_background {
        overflow:hidden;
        background-image: url(high.jpg);
    }
}

/*Computerscreen*/
@media (min-width: 30rem) and (min-height: 30rem) {
    .webpage_background {
        overflow:hidden;
        background-image: url(queer.jpg);

    }
}

/*Phone in Landscape Mode*/
@media (min-width: 30rem) and (max-height: 30rem) {
    .webpage_background {
        overflow:scroll;
        background-image: url(queer.jpg);
    }

    .wrapper {
        position: relative;
        overflow: visible;
      }
    
}

.content {
    margin: 0.5rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25rem;

    /*background-color: black;*/
}

.header_container {
    margin:1rem;
    display: flex;
    flex-direction: column;

    /*background-color: blue;*/
}


h1 {
    font-size: 3rem;
    margin: 0.25rem;
    color: #222222;
    text-align: center;
    text-shadow: 2px 2px 4px #222222;
}


.main_container {
    margin:0.25rem;
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 4px black;

    /*background-color: lawngreen;*/
}

.main_section_flex {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    margin:0.25rem;
    text-align:center;
    align-items: center;

    /*background-color: chocolate;*/
}


.bottom_line {
    margin:0.5em;
    text-align:center;
    text-shadow: 1px 1px 3px black;

    /*background-color: indianred;*/
}

q {
    font-style: italic;
    font-family: "Lucida Handwriting", cursive;
    font-variant: "Lucida Handwriting";

}

#timer {
    font-size: 3rem;
    color: #b52121;
    text-shadow: #b52121;
}